@media only screen and (max-width : 568px) and (orientation : portrait) {

html, body {
	overflow: hidden!important;
    border: 0;
	margin: 0 auto;
}

html, body, #ppp_container, #paw_home, #content, #header, #nav, #hero img, #footer, .wrap  {
	min-width: 320px!important;
	max-width: 360px!important;
	width: 100%!important;
}
	
body {
	font-size: 16px;
	margin: 0 auto;
	float: none;
	position: relative!important;
}

#header {
	border-bottom: 0px!important;
	z-index: 990!important;
	margin-top: 65px!important;
}

#paw_home, #header {
	height: 0px!important;
	padding: 0px!important;
}

#logo {
	width: 60px!important;
	height: 54px!important;
	background-size: 100%!important;
	top: -50px!important;
	left: 50%!important;
	margin-left: -10%!important;
}

#nav {
	left: 0px!important;
	margin-left: 0px!important;
	height: 300px!important;
	width: 100%!important;
	border-top: 1px solid #E5E5E5!important;
	position: absolute;
}

#nav li {	
	border-top: 0!important;
	display: block;
	padding: 15px 0px 15px 10px!important;
	text-align: left;
	background-color: #f5f3f3!important;
	border-bottom: 1px solid #E5E5E5!important;
	margin-left: 0px!important;
	width: 100%!important;
}

#nav li a {
	display: block;
}

.first_li {
	padding-left: 10px!important;
}

#nav li a:hover {
	color: black!important;
}

#logo_holder, #social {
	display: none!important;	
}

#content, #footer {	
	margin: 0!important;
	padding: 0!important;
}

#typewriter_wrapper {
	padding-top: 15px!important;
}

#typewriter_wrapper, #ticker {
	max-width: 353px!important;
	min-width: 300px!important;
}

#footer {
  	margin-top: 15px!important;
	height: 50px!important;
}

#footer div {
	width: 314px!important;
	margin-left: 6px!important;
	margin-top: 0!important;
	padding: 8px 0px 0px 0px!important;
}

small {
	font-size: 11px!important;		
}

  
}

@media only screen and (min-width : 320px) and (max-width : 568px) and (orientation : landscape) {

html, body, #ppp_container, #paw_home, #content, #header, #nav, #hero img, #footer, .wrap  {	
	max-width: 568px!important;
	min-width: 320px!important;
	width: 100%!important;
}

h3 {
	margin-top: 0!important;
}

	
body {
	font-size: 16px;
	overflow-x: hidden!important;	
	overflow-y: hidden!important;	
}


#header {
	border-bottom: 0px!important;
	z-index: 990!important;
}

#logo {
	left: 42%!important;

}

#nav {
	left: 0px!important;
	margin-left: 0px!important;
	height: 300px!important;
	border-top: 1px solid #E5E5E5!important;
	position: absolute;
	overflow: hidden!important;
}

#nav li {	
	border-top: 0!important;
	display: block;
	padding: 15px 0px 15px 10px!important;
	text-align: left;
	background-color: #f5f3f3!important;
	border-bottom: 1px solid #E5E5E5!important;
	margin-left: 0px!important;
	width: 100%;
}

#nav li a {
	display: block;
}

.first_li {
	padding-left: 10px!important;
}

#nav li a:hover {
	color: black!important;
}

#logo_holder, #social {
	display: none!important;	
}

#footer, #footer_container, #copyright_info {
	max-width: 568px!important;
	margin-left: 0!important;
	padding-left: 0px!important;
	overflow: hidden!important;
}

#copyright_info {
	padding-top: 8px!important;
}

small {
	font-size: 12px!important;		
	padding-left: 15px!important;
}


}